[Unit]
Description=Polymarket Live Data Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/application/polymarket-hft-live-data-collector
ExecStart=/usr/local/application/polymarket-hft-live-data-collector/.venv/bin/python -m src.main -c config.yaml
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
